@model Web.ViewModels.CustomerFormViewModel
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row flex-lg-nowrap">
        <div class="col mb-12">
            <div class="card-header">
                <h6 class="mr-2"><span>Customers</span><small class="px-1">Be a wise leader</small></h6>
            </div>
            <div class="e-panel card">
                <div class="card-body">
                    <div class="card-title">
                        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                            @using (Html.BeginForm("Index", "Customer", FormMethod.Post, new { @class = "form-inline" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control w-100", placeholder = "Customer Name" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.CategoryNames, "Select category",
                                        new { @class = "from-control custom-select" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.FromDate, new { htmlAttributes = new { @class = "datepicker form-control input-sm cell", id = "datepickerStart", @style = "width:120px" } })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.ToDate, new { htmlAttributes = new { @class = "datepicker form-control input-sm cell", id = "datepickerEnd", @style = "width:120px" } })
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Search</button>
                            }
                        </nav>
                        <hr />
                    </div>
                    <div class="e-table">
                        <div class="table-responsive table-lg mt-9">
                            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" id="customers-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="max-width">Category</th>
                                        <th>Credit limit (PD)</th>
                                        <th>Account opened</th>
                                        <th>Discount %</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Customers != null && Model.Customers.Any())
                                    {
                                        foreach (var customer in Model.Customers)
                                        {
                                            <tr>
                                                <td class="text-nowrap align-middle">@customer.CustomerName</td>
                                                <td class="text-nowrap align-middle">@customer.CustomerCategoryName</td>
                                                <td class="text-nowrap align-middle">@customer.CreditLimit (@customer.PaymentDays)</td>
                                                <td class="text-nowrap align-middle">@customer.AccountOpenedDate</td>
                                                <td class="text-nowrap align-middle">@customer.StandardDiscountPercentage</td>
                                                <td class="text-center align-middle">
                                                    <div class="btn-group align-top">
                                                        <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <div class="card-title">
                                                    <h6 class="mr-2"><span>No results</span></h6>
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.Customers.PageCount > 1)
                            {
                                <div class="pager">
                                    @Html.PagedListPager(Model.Customers, page => Url.Action("Index", new
                                                   {
                                                       page
                                                   }))
                                    Page @(Model.Customers.PageCount < Model.Customers.PageNumber ? 0 : Model.Customers.PageNumber) of @Model.Customers.PageCount
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


@section scripts {

}

