<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>


@*<div class="row">
    <div class="col-md-9">
        <div class="panel panel-yellow">
            <div>
                @using (Html.BeginForm("Index", "Customer", FormMethod.Post))
                {
                    <div>
                        @Html.ListBoxFor(m => m.SelectedCategoryIds, Model.CategoryNames,
                            new { id = "multiselectDropdown", multiple = "multiple", @class = "from-control", style = "width: 250px" })
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "from-control", type = "text" })
                        @Html.EditorFor(m => m.FromDate, new { htmlAttributes = new { @class = "datepicker from-control", id = "datepickerStart" } })
                        @Html.EditorFor(m => m.ToDate, new { htmlAttributes = new { @class = "datepicker from-control", id = "datepickerEnd" } })

                        <input type="submit" value="Search" class="btn btn-success btn-sm form-control" />
                    </div>
                }
            </div>
            <div class="panel-heading">
                Customer List
            </div>
            <div class="panel-body">
                <table class="table table-responsive list-view">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Credit limit (payment days)</th>
                            <th>Account opened</th>
                            <th>Discount %</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@customer.CustomerName</td>
                                <td>@customer.CustomerCategoryName</td>
                                <td>@customer.CreditLimit (@customer.PaymentDays)</td>
                                <td>@customer.AccountOpenedDate</td>
                                <td>@customer.StandardDiscountPercentage</td>
                                <td>@Html.ActionLink("View", "Reply", "Messages", new { Id = customer.CustomerID }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                @*@Html.ActionLink("See all", "ViewAll", "Messages", null, new { @class = "pull-right btn btn-primary" }) <br />
                <span class="clearfix"></span>*@
                </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="col-sm-12">
                        @*@Html.Action("Survey")*@
                    </div>
                    <div class="col-sm-12">
                        @*@Html.Action("Suggestion")*@
                    </div>
                </div>
                </div>
                *@